[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npx prisma generate && npx prisma db push && node src/server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
